In [25]:
import pandas as pd
import os
import geopandas as gpd

In [12]:
path = '/home/sgirtsou/Documents/processes/pre-processing/processed'
daily = []

In [13]:
for file in os.listdir(path):
    if os.path.isdir(os.path.join(path,file)):
        date = str(file)
        for file1 in os.listdir(os.path.join(path,file)):
            if os.path.isdir(os.path.join(path,file,file1)):
                 shp_path = (os.path.join(path,file,file1,file1+'.shp'))
                 daily.append(shp_path)

In [14]:
attica_cells = pd.read_csv('/home/sgirtsou/Documents/vravrona/attica_cells.csv')

In [20]:
attica_ids = attica_cells.id.to_list()

In [33]:
df1 = gpd.read_file(daily[0])
df2 = df1[['id','Comb_proba']].loc[df1['id'].isin(attica_ids)].reset_index()
del df1

In [42]:
df3 = gpd.read_file(daily[1])
df4 = df3[['id','Comb_proba']].loc[df3['id'].isin(attica_ids)].reset_index()
del df3

In [44]:
df = df2.append(df4,ignore_index=True)

        index       id  Comb_proba
0        1570  2069812    0.999999
1        1609  2072040    0.643465
2        1618  2069818    0.999794
3        1635  2076495    0.643522
4        1639  2067587    1.000000
...       ...      ...         ...
23851  376895  2065509    0.959549
23852  376896  2065511    0.935652
23853  376897  2052153    0.940335
23854  376898  2052155    0.871472
23855  376901  2063286    0.928138

[23856 rows x 3 columns]

In [47]:
for i,path_row in enumerate(daily):
    print(i)
    if i == 0:
        df0 = gpd.read_file(path_row)
        df1 = df0[['id','Comb_proba']].loc[df0['id'].isin(attica_ids)].reset_index()
        del df0
    else:
        df0 = gpd.read_file(path_row)
        df0_i = df0[['id','Comb_proba']].loc[df0['id'].isin(attica_ids)].reset_index()
        df1 = df1.append(df0_i)
        del df0
        del df0_i

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

In [55]:
df1

        index       id  Comb_proba
0        1570  2069812    0.999999
1        1609  2072040    0.643465
2        1618  2069818    0.999794
3        1635  2076495    0.643522
4        1639  2067587    1.000000
...       ...      ...         ...
11923  376895  2065509    0.424763
11924  376896  2065511    0.322994
11925  376897  2052153    0.239633
11926  376898  2052155    0.306603
11927  376901  2063286    0.190420

[322056 rows x 3 columns]

In [98]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
labels = ['no risk','low risk','inter risk','high risk','very high risk']

In [99]:
df1['binned'] = pd.cut(df1['Comb_proba'], bins=bins,labels=labels)

        index       id  Comb_proba          binned
0        1570  2069812    0.999999  very high risk
2        1618  2069818    0.999794  very high risk
4        1639  2067587    1.000000  very high risk
6        1674  2069821    0.999820  very high risk
7        1677  2067592    1.000000  very high risk
...       ...      ...         ...             ...
11841  376812  2065488    0.993656  very high risk
11845  376816  2065490    0.982738  very high risk
11872  376843  2065491    0.996767  very high risk
11873  376844  2065492    0.999158  very high risk
11878  376849  2052137    0.999917  very high risk

[138030 rows x 4 columns]

In [101]:
df_grouped = df1.groupby(by=['id','binned']).size().reset_index()

In [134]:
df_grouped[df_grouped.id==1813760]

        id          binned   0
0  1813760         no risk   3
1  1813760        low risk  11
2  1813760      inter risk   9
3  1813760       high risk   2
4  1813760  very high risk   2

In [133]:
df_grouped[df_grouped.binned=='very high risk']

            id          binned   0
4      1813760  very high risk   2
9      1815986  very high risk   1
14     1815987  very high risk   3
19     1815989  very high risk   1
24     1815990  very high risk   1
...        ...             ...  ..
59619  2208058  very high risk  18
59624  2210258  very high risk  18
59629  2210259  very high risk  17
59634  2210260  very high risk  21
59639  2210261  very high risk  21

[11928 rows x 3 columns]

In [102]:
idx = df_grouped.groupby(['id'])[0].transform(max) == df_grouped[0]

In [103]:
ids_risk = df_grouped[idx]

In [111]:
ids_risk

            id          binned   0
1      1813760        low risk  11
8      1815986       high risk  10
11     1815987        low risk  10
16     1815989        low risk  11
21     1815990        low risk  18
...        ...             ...  ..
59619  2208058  very high risk  18
59624  2210258  very high risk  18
59629  2210259  very high risk  17
59634  2210260  very high risk  21
59639  2210261  very high risk  21

[12580 rows x 3 columns]

In [105]:
attica_cells_risk = attica_cells.merge(ids_risk, on = 'id')

In [107]:
attica_cells_risk.to_csv('/home/sgirtsou/Documents/vravrona/attica_cells_risk.csv')

test with very high risk only

In [120]:
vhr = df1[df1.binned == 'very high risk']

In [128]:
vhr_grouped = vhr.groupby(by=['id']).size().reset_index()

In [132]:
vhr_grouped.to_csv('/home/sgirtsou/Documents/vravrona/attica_very_high_risk_freq.csv')

In [131]:
df1[df1.id ==1815986]

       index       id  Comb_proba          binned
2279  337110  1815986    0.419817      inter risk
2279  337110  1815986    0.408050      inter risk
2279  337110  1815986    0.459124      inter risk
2279  337110  1815986    0.604019       high risk
2279  337110  1815986    0.347242        low risk
2279  337110  1815986    0.427489      inter risk
2279  337110  1815986    0.278643        low risk
2279  337110  1815986    0.691275       high risk
2279  337110  1815986    0.412763      inter risk
2279  337110  1815986    0.732172       high risk
2279  337110  1815986    0.478145      inter risk
2279  337110  1815986    0.651228       high risk
2279  337110  1815986    0.273978        low risk
2279  337110  1815986    0.336862        low risk
2279  337110  1815986    0.676758       high risk
2279  337110  1815986    0.366633        low risk
2279  337110  1815986    0.687272       high risk
2279  337110  1815986    0.622761       high risk
2279  337110  1815986    0.496885      inter risk
2279  337110  1815986    0.119415         no risk
2279  337110  1815986    0.648181       high risk
2279  337110  1815986    0.381008        low risk
2279  337110  1815986    0.618319       high risk
2279  337110  1815986    0.631587       high risk
2279  337110  1815986    0.504736      inter risk
2279  337110  1815986    0.594725      inter risk
2279  337110  1815986    0.962958  very high risk